{% extends 'seshdash/base.html' %}


{% load bootstrap %}

{% block main %}


	<div id="main-wrapper">
		
		<div class="panel panel-success">

			<div class="panel-heading">
				<h3 class="panel-title">Edit alert Rule</h3>
			</div>

			<div class="panel-body sesh-container">

				<form  method="POST" >
					{% csrf_token %}

                                                                             <div class="form-group">
                                        <label for="check_field">Check field</label>
                                        <select name="check_field" class="form-control" id="check_field">
                                            {% for key, value in site_sensor_fields.items %}
                                                <option value="{{key}}">{{value}}</option>
                                            {% endfor %}
                                        </select>
                                     </div>

                                     <div class="form-group">
                                        <label for="operator">Operator</label>
                                        <select name="operator" class="form-control" id="operator">
                                            <option value="lt">less than</option>
                                            <option value="gt">greater than</option>
                                            <option valu="eq">equals</option>
                                        </select>
                                     </div>


                                     <div class="form-group">
                                        <label for="value">Value</label>
                                        <input type="text" name="value" class="form-control" value="{{alert_rule.value}}">
                                     </div>


					<button type="submit" class="btn btn-primary">Submit</button>
				</form>

			</div>

		</div>

	</div>

{% endblock %}
