{% extends 'seshdash/base.html' %}

{% load staticfiles %}
{% load bootstrap %}

{% block main %}


    {# Js specific for this page #}
    <script src="{% static 'bootbox.js/bootbox.js' %}"></script>
    <script src="{% static 'sesh-ui/js/sites.js' %}"></script>

    <div id="page-wrapper">
     {# Tabs container #}
        <div id="create_site" class="container">

            {# Tab titles #}
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#Edit_site" >Edit Existing site</a></li>
                <li><a data-toggle="tab" href="#Add_site">Add new site</a></li>
                <li><a data-toggle="tab" href="#delete-site">Delete Site</a></li>
            </ul>

            <div class="tab-content">

                {# Tab content -> Edit site #}
                <div id="Edit_site" class="tab-pane fade in active">
                    <form method="post" >
                          {% csrf_token %}


                          {# Display a site form if it is there other wise display the sites #}
                          {% if site_form %}
                            {{ site_form|bootstrap }}


                            {# If there is an RMCForm display it #}
                            {% if RMCForm %}
                                {{ RMCForm|bootstrap }}
                            {% endif %}

                          {% else %}

                            {% include 'seshdash/table.html' %}

                          {% endif %}




                          <button type="submit" class="btn btn-primary button-save">SAVE </button>
                     </form>

                </div>

                {# Tab content -> Add site #}
                <div id="Add_site" class="tab-pane fade">
                    <h3> Add a new Sesh Site</h3>

                    <div class="rmc-vrm row">

                      <div class="col-md-6">
                          {% include 'seshdash/rmc-card.html' %}
                      </div>

                      <div class="col-md-6">
                        {% if has_vrm%}
                           {% include 'seshdash/generic/table.html' %}
                        {% else %}
                           {% include 'seshdash/vrm-card.html' %}
                        {% endif%}
                      </div>

                    </div>

                </div>



                {# Tab delete sites #}
                <div id="delete-site" class="tab-pane fade">
                   <h3>Deleting a site deletes all its data, This is an irreversible operation </h3>

                   <div class="sites">
                       <table class="table">
                            <tbody>
                              {% for site in sites %}
                                  <tr>
                                      <td class="sites-available">
                                          <a href="/edit_site/{{ site.id }}">{{ site.site_name }}</a>
                                      </td>
                                      <td>
                                          <a href="{% url 'delete_site' site.id %}" class="red fa fa-close pull-right delete-site-button"></a>
                                      </td>
                                  </tr>
                              {% endfor %}
                            </tbody>
                       </table>

                   </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}


{% block seshjs %}
{% endblock %}

{% block footer %}
{% endblock %}
