{% block alerts %}

    <div class="col-lg-8">

    <div class="modal fade" tab-index="-1" role="dialog" id="alert-modal" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" aria-labeled="Close">
                        <span aria-hidden="true">&times</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="panel panel-primary">
                         <div class="panel-heading">
                             About the Alert
                         </div>
                         <div class="panel-body">
                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Data </th>
                                        <th>Value </th>
                                    </tr>
                                </thead>
                                <tbody class="alert-data-point-info">

                                </tbody>
                            </table>
                         </div>
                     </div>
                 </div>
                <div class="modal-footer">
                     <button class="btn btn-primary silence-alert " >Silence Alert </button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-danger" id ="alerts-panel"> 
        <div class="panel-heading">
            <i class="fa fa-exclamation-triangle "></i>
            System Alerts
        </div>
        <div class="panel-body">
            <div class="table-responsive" id="alerts-container">

            </div>
        </div>
    </div>
   </div>

{% endblock %}
