<!DOCTYPE html>
<html lang='en'>
   <head>
       <title>Sesh Dashboard (beta)</title>

     <!--STYLE -->
     {% load static %}

     <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

     <link href='{% static 'PACE/themes/blue/pace-theme-flash.css' %}' rel='stylesheet'>
     <link href='{% static 'bootstrap/dist/css/bootstrap.min.css' %}' rel='stylesheet'>
     <link href='{% static 'font-awesome/css/font-awesome.min.css' %}' rel='stylesheet'>
     <link href='{% static 'Waves/dist/waves.min.css' %}' rel='stylesheet'>
     <link href='{% static 'switchery/dist/switchery.min.css' %}' rel='stylesheet'>
     <link href='{% static 'simple-line-icons/css/simple-line-icons.css' %}' rel='stylesheet'>
     <link href='{% static 'offcanvasmenueffects/css/menu_cornerbox.css' %}' rel='stylesheet'>
     <link href='{% static '3d-bold-navigation/css/style.css' %}' rel='stylesheet'>
     <link href='{% static 'Blueprint-SlidePushMenus/css/component.css' %}' rel='stylesheet'>
     <link href='{% static 'weather-icons/css/weather-icons.min.css' %}' rel='stylesheet'>
     <link href='{% static 'metrojs/release/MetroJs.Full/MetroJs.min.css' %}' rel='stylesheet'>
     <link href='{% static 'toastr/toastr.min.css' %}' rel='stylesheet'>
     <link href='{% static 'awesomplete/awesomplete.css' %}' rel='stylesheet'>
     <!--Theme style -->

     <link href='{% static 'sesh-ui/css/modern/modern.min.css' %}' rel='stylesheet'>
     <link href='{% static 'sesh-ui/css/modern/themes/green.css' %}' rel='stylesheet'>
     <link href='{% static 'sesh-ui/css/modern/custom.css' %}' rel='stylesheet'>

     <!--Ours -->
     <link href='{% static 'sesh-ui/css/sesh.css' %}' rel="stylesheet">

     <!-- Shortcut icon -->
     <link rel="shortcut icon" type="image/x-icon" href='{% static 'images/gle.jpg' %}' />

     <script src='{% static 'offcanvasmenueffects/js/snap.svg-min.js' %}'></script>
     <script src='{% static '3d-bold-navigation/js/modernizr.js' %}'></script>
     <script src='{% static 'jquery/dist/jquery.min.js' %}'></script>
     <!-- maps -->
     <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />





   </head>
   <body>
     <main class="page-content content-wrap">
       <div class="nav-bar">
         {% block nav %}
            {% include "seshdash/top_nav.html" %}
         {% endblock %}
       </div>
       <div class="side-bar">
         {% block sidebar %}
            {% include "seshdash/side-bar.html" %}
         {% endblock %}
       </div>
       <div class="main-content">
         {% block main %}
         {% endblock %}
       </div>

       {% block content%}
       {% endblock %}
    </main>
   </body>
   <!-- Script Section -->
      <script src='{% static 'jquery-ui/jquery-ui.min.js' %}'></script>
      <script src='{% static 'PACE/pace.min.js' %}'></script>
      <script src='{% static 'blockUI/jquery.blockUI.js' %}'></script>
      <script src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'></script>
      <script src='{% static 'jquery-slimscroll/jquery.slimscroll.min.js' %}'></script>
      <script src='{% static 'switchery/dist/switchery.min.js' %}'></script>
      <script src='{% static 'jquery.uniform/dist/jquery.uniform.min.js' %}'></script>
      <script src='{% static 'offcanvasmenueffects/js/classie.js' %}'></script>
      <script src='{% static 'offcanvasmenueffects/js/main.js' %}'></script>
      <script src='{% static 'Waves/dist/waves.min.js' %}'></script>
      <script src='{% static '3d-bold-navigation/js/main.js' %}'></script>
      <script src='{% static 'waypoints/lib/jquery.waypoints.min.js' %}'></script>
      <script src='{% static 'jquery.counterup/jquery.counterup.min.js' %}'></script>
      <script src='{% static 'toastr/toastr.min.js' %}'></script>
      <script src='{% static 'Flot/jquery.flot.js' %}'></script>
      <script src='{% static 'Flot/jquery.flot.time.js' %}'></script>
      <script src='{% static 'Flot/jquery.flot.symbol.js' %}'></script>
      <script src='{% static 'Flot/jquery.flot.resize.js' %}'></script>
      <script src='{% static 'metrojs/release/MetroJs.Full/MetroJs.min.js' %}'></script>
      <script src='{% static 'flot.curvedlines/curvedLines.js' %}'></script>
      <script src='{% static 'awesomplete/awesomplete.js' %}'></script>
      <!--Modern Scripts -->
      <script src='{% static 'sesh-ui/js/modern/modern.min.js' %}'></script>
      <script src='{% static 'sesh-ui/js/modern/pages/dashboard.js' %}'></script>
      
      <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
      <script src='{% static 'sesh-ui/js/maps.js' %}'></script>
      <script src='{% static 'sesh-ui/js/sesh_dashboard.js' %}'></script>


</html>
