{% load bootstrap %}

{% block main %}

  <div class="modal fade" id="status-modal" tab-index="-1" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="panel panel-success">
             <div class="panel-heading">
                 Edit status card
             </div>
             <div class="modal-body">
                 <form class="panel-form" method="post" action="{% url 'edit_status_card' site_id %}">
                     {% csrf_token %}
                     {{status_form|bootstrap}}
                     <input type="submit" class="btn btn-primary" value="Submit">
                 </form>
             </div>
          </div>
        </div>
     </div>
  </div>

{% endblock %}
