{% extends 'seshdash/base.html' %}


{% load bootstrap %}

{% block main %}

    <div id="main-wrapper">
       <div class="panel panel-success">
           <div class="panel-heading">
               Edit status card for {{site}}
           </div>
           <div class="panel-body">
               <form class="panel-form" method="post">
                   {% csrf_token %}
                   {{form|bootstrap}}
                   <input type="submit" class="btn btn-primary" value="Submit">
               </form>
           </div>
       </div>
    </div>

{% endblock %}
