
<!---
This is the High chart of Daily PV Production with Cloud cover forecast In High Chart


-->


{% block high_chart_line_bar %}
    <div class="dropdown col-lg-12">
         <div class="col-lg-4" id="x-axis">
              <p>Select option</p>
              <select class="form-control" id="drop1">
                 {{ measure }}
                 {% for value in measure %}
                      <option value="{{value}}">{{value}}</option>
                 {% endfor %}
              </select>
        </div>

        <div class="col-lg-4" id="y-axis">
              <p>Select another option</p>
              <select class="form-control" id="drop2" >
                 {{ measure }}
                 {% for value in measure %}
                      <option value="{{value}}">{{value}}</option>
                 {% endfor %}
              </select>
        </div>
        <button type="button" class="btn btn-primary butt">Show graph </button>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
                <div class="panel-heading">
                    <!-- TODO make this a variable -->
                    <i class="fa fa-bar-chart-o fa-fw" ></i>
                    <span id="title-message" ></span>
                </div>
            <div  id="containerhigh">


            </div>
        </div>
    </div>

    <!--The javascript which call  to get_high_chart() to draw how chart and the function is in the sesh_dashboard.js -->

    <script language="JavaScript">

        date = [
                {% for date2 in high_chart.high_date %}
                              '{{date2}}' ,
                 {%endfor%}


                ];



    </script>



    {% endblock %}
