{% extends 'seshdash/base.html' %}

{% load staticfiles %}


{% block main_content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
            {% block header %}
 
                <h2 class="historical-header"> Historical Data </h2>

            {% endblock %}
            </div>
        </div>

       <div class="filter-form">
         <div class="data-sort-container">
            <p class="sort-help-text"> Select an option to sort by </p>
            <select class="form-control" id="data-sort">
                 {{ sort_dict }}
                 {% for key, value in sort_dict.items %}	
                      <option value="{{key}}">{{value}}</option>
                 {% endfor %}
            </select>
        </div>
       </div>
   
       <!-- Loader -->
       <div class="historical-loader"> 
             <div class="spinner">
                 <div class="rect1"></div>
                 <div class="rect2"></div>
                 <div class="rect3"></div>
                 <div class="rect4"></div>
                 <div class="rect5"></div>
            </div>
        </div>


       <div class="chart-data-container">
          
       </div>
    </div>

{% endblock %}


{# Preventing sesh main dash js from running #}
{% block seshjs %}

     <script src='{% static 'sesh-ui/js/historical.js' %}'> </script>

{% endblock %}

{% block javascript %}

{% endblock %}
