{% extends "seshdash/base.html" %}
{% block main %}
   {% block header %}

		  <h2 class="page-header">
		  Welcome {{ user }} looks like you don't have any sites setup
		  </h2>
   {% endblock %}

   {% block dash_1 %}
      {% if not form_type %}
            <!-- VRM import form -->
            {% include  "seshdash/vrm-card.html" %}

            <!-- RMC import form-->
            {% include  "seshdash/rmc-card.html" %}
      {% else %}
            {{ site_forms.management_form }}
            {% include  "seshdash/create-site.html" %}
      {% endif %}

   {% endblock %}

   {% block javascript %}
   {% autoescape off %}
   {% endautoescape %}
   {% endblock %}

{% endblock %}
