{% extends "seshdash/base.html" %}

{% block header %}
		
		<h2 class="page-header">
		Welcome {{ user }} looks like you don't have any sites setup
		</h2> 

			{% if message %}
				<p class="text-danger"> Site create was a failure please correct details in form </p>
			{% endif %}
    {% endblock %}

{% block dash_1 %}


    {% block forms %}
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">                          
                        <!-- TODO make this a variable -->               
                        <i class="fa fa-map-marker fa-fw"></i>
                Please create a site
                    </div>                                               
                <div class="panel-body">
                    <!-- TODO movestyle to css -->
                    {% if VRM_form  %}   
                        <form action="/create-site/" method="post">
                            {% csrf_token %}
                            <div class="table-responsive">
                                <table class="table table-striped">
                                {{VRM_form.as_table}}
                                </table>
                            </div>
                            <input type="submit" value="Create Site">
                        </form>
                    {% else %}
                        <!-- formset for selecting sites-->
                </div>
            </div>
        </div>

        {% endif %}
    {% endblock %}




{% endblock %}
{% block javascript %}
{% autoescape off %}
{% endautoescape %}
{% endblock %}

