    

    {% block line_bar_chart %}
    
    <div class="col-lg-12">
        <div class="panel panel-default">
                <div class="panel-heading">
                    <!-- TODO make this a variable -->
                    <i class="fa fa-bar-chart-o fa-fw"></i>
                    Daily Production with Cloud cover forecast
                </div>
            <div class="panel-body">
                {% include_chart_jscss %}
                {% load_chart charttype chartdata chartcontainer extra %}
                <!-- TODO movestyle to css -->
                {% include_container chartcontainer 300 900 %}

            </div>
        </div>
    </div>
    {% endblock %}
