   {% extends "seshdash/base.html" %}

  {% block top_navbar %}

    {% endblock %}
    
    {% block side_navbar %}

    {% endblock %}

    {% block main_content %}
    <div class="container">

      <form class="form-signin" action="/login/" method="post" >
        <h2 class="form-signin-heading">Sign in to SESH Dashboard</h2>
        {% if error %}
            <div class="form-group has-error has-feedback">
                <label for="inputEmail" name="inputEmail" apassa class="sr-only ">Email address</label>
                <input type="text" name="inputEmail" id="inputEmail" class="form-control" placeholder="Incorrect Email address" required autofocus>

                <label for="inputPassword" class="sr-only">Password</label>
                <input name="inputPassword" type="password" id="inputPassword" class="form-control" placeholder=" Incorrect Password" required>
            </div>
        {% else %}
                <label for="inputEmail" name="inputEmail" apassa class="sr-only">Email address</label>
                <input type="text" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

                <label for="inputPassword" class="sr-only">Password</label>
                <input name="inputPassword" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        {% endif %}
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        {% csrf_token %}
      </form>
    <!-- {{ error }} -->
    </div> <!-- /container -->
 {% endblock %}

