{% extends "seshdash/base.html" %}

{% block header %}
<h2 class="page-header">Welcome {{ user }}, viewing dashboard for {{active_site.site_name}}</h2> 
    {% endblock %}

{% block dash_1 %}


    {% block maps %}
    
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- TODO movestyle to css -->
                <div id="map">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- energy production -->

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Energy Production chart 
            </div>
            <div class="panel-body">
                <div id="energy-production-last-5-days">

                </div>
            </div>
        </div>
    </div>
    <!-- end energy production -->
    <!-- forecast -->
 <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div id="local-forecast">
                    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat={{active_site.latitude}}&lon={{active_site.longitude}}&name={{active_site.site_name}} &color=#1087bf&units=uk"> </iframe>
                </div>
            </div>

        </div>
    </div>
    <!-- end forecast -->
    <!-- weather analysis -->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
            Cloud Cover Forecast 
            </div>
            <div class="panel-body">
                <div id="cloud-cover-forecast">

                </div>
            </div>
        </div>
    </div>
    <!-- end weather analysis -->
    <!--  experimental chart -->

            {% include "seshdash/line_bar.html" %}

    <!-- end expermiental chart-->


{% endblock %}
{% block javascript %}
{% autoescape off %}
power_data = {{  power_json }};
weather_data = {{  weather_json }};
site = {{ sites_json  }};
active_site_coords = {"lat":{{active_site.latitude}},"lon":{{active_site.longitude}} };
{% endautoescape %}
{% endblock %}

