<div class="col-lg-12 col-md-12">
    <div class="panel panel-white">
         {% block maps %}
          <div class="panels-container">
               <div class="col-lg-12">
                     <div class="panel panel-info">
                          <div class="panel-heading">
                               <!-- TODO make this a variable -->
                               <i class="fa fa-map-marker fa-fw"></i>
                                         site map
                          </div>
                          <div class="panel-body">
                               <!-- TODO movestyle to css -->
                               <div id="map">
                               </div>
                          </div>
                     </div>
               </div>
          </div>
         {% endblock %}
    </div>
</div>
