
    {% load static %}
        <!-- Create Site Form -->
        <div class="col-lg-6">
            <div class="panel panel-default" >
                <div class="panel-heading">
                        <!-- TODO make this a variable -->
                         Import RMC Account
                    </div>
                <div class="panel-body">
                    <!-- TODO movestyle to css -->
                            <img class="img-rounded centered" src='{% static  'images/gle_dark.PNG' %}'/>

                   </div>
                        <div class="panel-footer">
                              <form action="/import-site/" method="post">
                                     {% csrf_token %}
                                 <input type="hidden" name="form_type" value="rmc">
                                <input class="btn" type="submit" value="ADD RMC Account">
                             </form>
                         </div>
                     </div>
            </div>

        <!-- end site creation form -->


