{% extends 'seshdash/base.html' %}

{% load staticfiles %}

{% block main_content %}

 <div id="page-wrapper">

      <div id="create_site" class="container">

           <h2>Sesh Sites</h2>

           <ul class="nav nav-tabs">

                <li class="active"><a data-toggle="tab" href="#Edit_site" >Edit Existing site</a></li>

                <li><a data-toggle="tab" href="#Add_site">Add new site</a></li>

                <li><a data-toggle="tab" href="#Change_settings">Change User Settings</a></li>

                <li><a data-toggle="tab" href="#Add_Import">Add/Import</a></li>

           </ul>

           <div class="tab-content">

                 <div id="Edit_site" class="tab-pane fade in active">

                      <div class="site-list">

                           <h3>Available Sesh Sites</h3>

                           <table class="table table-striped table-bordered table-hover">
                                  <tr>

                                     <th> SITES </th>

                                  </tr>

                                  <tr>
                                      {% for key,value in sites.items %}
                                      <tr>


                                             <th class="sites-available"><a href="/edit_site/{{ key }}">{{ value }}</a></th>

                                      </tr>

                                      {% endfor %}
                                 </tr>

                          </table>
                          <button class="btn btn-default btn-add-site">

                            <a data-toggle="tab" href="#Add_site">Add new site</a>

                          </button>
                      </div>

                      <div class="edit-sites">

                               <form action="/add_site" method="post" novalidate>
                                        <table class="table table-striped table-bordered table-hover">

                                               {% csrf_token %}

                                               {{form_edit.as_table}}

                                               {{ form_edit.media }}

                                        </table>
                                        <button type="submit" class="btn btn-primary">SAVE </button>

                                </form>

                      </div>
                  </div>

                  <div id="Add_site" class="tab-pane fade">
                                 <form action="/add_site" method="post" novalidate>
                                       <h3> Add a new Sesh Site</h3>

                                        <table class="table table-striped table-bordered table-hover">

                                               {% csrf_token %}

                                               {{form_add.as_table}}

                                               {{ form_add.media }}

                                        </table>

                                        <button type="submit" class="btn btn-default">SAVE </button>

                                        <button class="btn btn-default btn-back">

                                                <a data-toggle="tab" href="#Edit_site"> Back </a>

                                        </button>
                                </form>
                  </div>

                 <div id="Change_settings" class="tab-pane fade">

                 </div>

                 <div id="Add_Import" class="tab-pane fade">

                 </div >



      </div>

 </div>
 </div>
{% endblock %}