{% extends 'seshdash/base.html' %}

{% load staticfiles %}

{% block main %}
<div class="page-inner">
   <div id="page-wrapper">
      <div id="create_site" class="container">

           <ul class="nav nav-tabs">

                <li class="active"><a data-toggle="tab" href="#Edit_site" >Edit Existing site</a></li>

                <li><a data-toggle="tab" href="#Add_site">Add new site</a></li>

               <!--
                <li><a data-toggle="tab" href="#Change_settings">Change User Settings</a></li>

                <li><a data-toggle="tab" href="#Add_Import">Add/Import</a></li>
              -->
           </ul>

           <div class="tab-content">

                 <div id="Edit_site" class="tab-pane fade in active">
                   {% csrf_token %}

                   {% if form_edit.as_table|length > 1 %}
                   {% else%}
                      <div class="site-list" >
                        {% block table %}
                        {% include "seshdash/table.html" %}
                        {% endblock %}
                      </div>
                   {% endif %}

                      <div class="edit-sites">

                               <form action="/edit_site" method="post" novalidate>
                                        <table class="table">

                                               {% csrf_token %}

                                               {% if form_edit.as_table|length > 1 %}

                                                   {{ form_edit.as_table }}
                                                        <input type="text" value="{{site_Id}}" name="site_Id" hidden>
                                                <tr>
                                                   <td>
                                                       <button type="submit" class="btn btn-primary button-save">SAVE </button>
                                                   </td>
                                                </tr>
                                                {% else %}
                                               {% endif %}
                                          </table>
                                </form>




                      </div>
                  </div>

                  <div id="Add_site" class="tab-pane fade">
                                 <form action="/add_site" method="post" novalidate>
                                       <h3> Add a new Sesh Site</h3>

                                        <table class="table table-striped table-bordered table-hover">

                                               {% csrf_token %}

                                               {{ form_add.as_table }}

                                               {{ form_add.media }}

                                        </table>

                                        <button type="submit" class="btn btn-default">SAVE </button>
                                </form>
                  </div>

                 <div id="Change_settings" class="tab-pane fade">

                 </div>

                 <div id="Add_Import" class="tab-pane fade">

                 </div >
      </div>

     </div>
   </div>
  </div>
 </div>

{% endblock %}
