
<div class="page-sidebar sidebar">
    <div class="page-sidebar-inner slimscroll">

        <ul class="menu accordion-menu">
            <li class="active"><a href="index.html" class="waves-effect waves-button">
              <span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a>
            </li>
            <li>
              <a href="profile.html" class="waves-effect waves-button">
                <span class="menu-icon glyphicon glyphicon-user"></span>
                <p>Profile</p>
              </a>
            </li>
            <li>
              <a href="profile.html" class="waves-effect waves-button">
                <span class="menu-icon glyphicon glyphicon-user"></span>
                <p>Profile</p>
              </a>
            </li>
            <li>
              <a href="profile.html" class="waves-effect waves-button">
                <span class="menu-icon glyphicon glyphicon-user"></span>
                <p>Profile</p>
              </a>
            </li>
            <li>
              <a href="profile.html" class="waves-effect waves-button">
                <span class="menu-icon glyphicon glyphicon-user"></span>
                <p>Profile</p>
              </a>
            </li>
            <li>
              <a href="profile.html" class="waves-effect waves-button">
                <span class="menu-icon glyphicon glyphicon-user"></span>
                <p>Profile</p>
              </a>
            </li>
            <li>
              <a href="profile.html" class="waves-effect waves-button">
                <span class="menu-icon glyphicon glyphicon-user"></span>
                <p>Profile</p>
              </a>
            </li>
            <li>
              <a href="profile.html" class="waves-effect waves-button">
                <span class="menu-icon glyphicon glyphicon-user"></span>
                <p>Profile</p>
              </a>
            </li>
            <li>
              <a href="profile.html" class="waves-effect waves-button">
                <span class="menu-icon glyphicon glyphicon-user"></span>
                <p>Profile</p>
              </a>
            </li>




        </ul>
    </div><!-- Page Sidebar Inner -->
</div><!-- Page Sidebar -->
