<div class="panel panel-white container">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">Sesh Sites</h3>
    </div>
    <div class="panel-body">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab">Tab 1</a></li>
                <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">Tab 2</a></li>
                <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab">Tab 3</a></li>
                <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab">Tab 4</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab1">
                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab2">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab3">
                    <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab4">
                    <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
