{% extends "seshdash/base.html" %}

{% block header %}
<h2 class="page-header">Welcome {{ user }}, viewing dashboard for {{active_site.site_name}}</h2> 
    {% endblock %}

{% block dash_1 %}


    {% block maps %}
    
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- TODO movestyle to css -->
                <div id="chart">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


{% endblock %}
{% block javascript %}
{% autoescape off %}
power_data = {{  power_json }};
weather_data = {{  weather_json }};
site = {{ sites_json  }};
active_site_coords = {"lat":{{active_site.latitude}},"lon":{{active_site.longitude}} };
{% endautoescape %}
{% endblock %}

