{% load static %}
<!-- Create Site Form -->
      <div class="panel panel-default">
          <div class="panel-heading">
                  <!-- TODO make this a variable -->
                  <i class="fa fa-map-marker fa-fw"></i>
                  Import from  Victron VRM Account
          </div>
          <div class="panel-body">
              <div class="panel-header">
                  {% if error %}
                  <p class="text-danger"> Error: {{ message }}</p>
                  {% endif %}
              </div>
              <!-- TODO movestyle to css -->
              <form id="vrm_form" action="/import-site/" method="post">
                  <input type="hidden" name="form_type" value="vrm">
                  {% csrf_token %}
                  <table class="table table-stripped">
                      {{ VRM_form.as_table }}
                  </table>

                  <div class="panel-footer">
                      <input form="vrm_form" class="btn btn-default" type="submit" value="Import VRM Account">
                  </div>
              </form>


          </div>
      </div>

  <!-- end site creation form -->
