/*
Main styling for the sesh
dashboard
*/

/* Overiding the modern theme styling section */
.page-sidebar.sidebar {
  min-height: 100vh;
  height: 100%;
}
.page-title{
  text-align: center;
}
.page-inner{
  padding: 0px;
}
.slimScrollDiv {
  height: 90%!important;
}
