/*{
  border: 1px solid black;
}*/
/*
Main styling for the sesh
dashboard
*/

/* Overiding the modern theme styling section */
div#map {
    height: 400px;
}

button#dynamic_graph_button {
    margin-top: 30px;
}

.page-sidebar.sidebar {
  min-height: 100vh;
  height: 100%;
}
.page-title{
  text-align: center;
}
.page-inner{
  padding: 0px;
}
.slimScrollDiv {
  height: 90%!important;
}
div.awesomplete > ul {
    margin: 42px 0px;
}
h2.page-header {
    text-align: center;
    font-weight: 300;
    color: aliceblue;
}
