/*
Main styling for the sesh
dashboard
*/

/* Overiding the modern theme styling section */
.page-sidebar.sidebar {
  min-height: 100vh;
  height: 100%;
}

.slimScrollDiv {
  height: 90%!important;
}
